<p>Welcome to <h1><%=email%></h1></p>

<h2>Settings</h2>
<p>click <a href="/two_factor_enabled">here</a> to Enable Two-Factor Authentication</p>
<p>Click <a href="/resetpassword">here</a> to Reset password</p>

<br>
<br>
<a href="/logout">logout</a>
