<section>
  <form action="/resetPasswordRequest" method="post">
    <legend>Reset Password</legend>
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" value=""/>
      <br>
      <label><%=msg%></label>
    </div>
    <div>
      <input type="submit" value="submit"/>
    </div>
  </form>
</section>
