<form action="/two_factor_verify" method="post">
  <div>
    <input name="token_input" type="text" placeholder="000000">
    <input name="two_factor_secret" style="display: none;" type="text" value="<%= two_factor_secret%>">
    <input name="email" type="text" style="display: none;" value="<%= email%>">
  </div>
  <div>
    <input type="submit" value="verify"/>
  </div>
</form>
